:root{
    --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --honey-yellow: #ffb703ff;
    --orange: #fb8500ff;
}

header{
    border: solid var(--prussian-blue);
    background: var(--prussian-blue);
}

ul{
    display: flex;
    justify-content: right;
    padding-right: 16px;
}

.nav-links li{
    list-style: none;
    margin: 0px 10px;
}

.nav-links a{
    text-decoration: none;
    color: var(--light-cornflower-blue);
}
div{
    border: solid;
}

aside{
    border: solid;
}

main{
    border: solid;
}

footer{
    border: solid;
}