
header{
    border: solid;
}

ul{
    display: flex;
    justify-content: ;
}
.nav-links{
    list-style: none;
}

div{
    border: solid;
}

aside{
    border: solid;
}

main{
    border: solid;
}

footer{
    border: solid;
}